        {% extends 'base.html.twig' %}
        {% block body %}
        <div>
        https://logos-world.net/wp-content/uploads/2021/08/Dominos-Logo.png
        </div>
        <h1 class="text-center">Dit is ons assortiment</h1>

        <div class="text-center">
            {{ pizzas }}
        </div>
        {% endblock %}
